body {
    max-width: max-content;
    margin: auto;
    text-align: center  ;
    /*vertical-align: middle;*/
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1 {
    color: midnightblue;
}

form {
    text-align: center;
}
table,tr,th,td {
    text-align: center;
    align-items: center;
    border: 1px solid black;
}

input[type="text"],input[type="number"],input[type="file"],select {
         width: 100%;
         box-sizing: border-box;
         -webkit-box-sizing:border-box;
         -moz-box-sizing: border-box;
}
img{
    max-height: 150px;
    max-width: 150px;
}