<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="../../static/CSS/main.css">
</head>
<body>

    <h1>
        Home
    </h1>

    <br><br><br><br>

    <a href="/category/load_insert_category/">Insert Category</a><br><br>
    <a href="/category/view_category/">View Category</a><br><br>
    <a href="/sub_category/load_insert_sub_category/">Insert Sub Category</a><br><br>
    <a href="/sub_category/view_sub_category/">View Sub Category</a><br><br>
    <a href="/product/load_product/">Insert Product</a><br><br>
    <a href="/product/view_product/">View Product</a><br><br>

</body>
</html>